.text-icon {
  font-family: serif;
  font-size: 35px;
}

.sub-heading {
  font-weight: 300;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  height: 600px;
}
.Email{
  padding-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  width: 300px;
  height: fit-content;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;
}

.Email,
.Name,
.PhoneNumber,
.Password,
.show {
  width: 100%;
}

.name,
.pass {
  width: 49%
}

.signin {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 40%;
  height: 50%;
}
