<div class="main">
  <form [formGroup]="resetpasswordform" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1 class="text-icon">
        <span style="color: blue">F</span>
        <span style="color: red">u</span>
        <span style="color: yellow">n</span>
        <span style="color: rgb(15, 15, 15)">-</span>
        <span style="color: blue">d</span>
        <span style="color: green">o</span>
      </h1>
      <h3 class="sub-heading">Forget Password</h3>
      <div class="Email">
        <mat-form-field appearance="outline" class="Email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email">
          <mat-error>Enter the Valid Email</mat-error>
        </mat-form-field>
      </div>
      <div class="signin">
        <a mat-button href="login" color="primary">Back</a>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>
