<form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
  <div class="main">
    <div class="container">
      <h1 class="text-icon">
        <span style="color: blue">F</span>
        <span style="color: red">u</span>
        <span style="color: yellow">n</span>
        <span style="color: rgb(15, 15, 15)">-</span>
        <span style="color: blue">d</span>
        <span style="color: green">o</span>
      </h1>
      <h2 class="sub-heading">Reset Password</h2>
      <div class="Email">
        <mat-form-field appearance="outline" class="Email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email" readonly />
          <mat-error>Enter the Valid Email</mat-error>
        </mat-form-field>
      </div>
      <div class="Password">
        <p>
          <mat-form-field appearance="outline" class="pass">
            <mat-label>New Password</mat-label>
            <input
              matInput
              placeholder=""
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newpassword"
            />
            <mat-error>Enter the Valid password</mat-error>
          </mat-form-field>
        </p>
      </div>
      <div class="Password">
        <p>
          <mat-form-field appearance="outline" class="pass">
            <mat-label>confirm Password</mat-label>
            <input
              matInput
              placeholder="confirm Password"
              type="password"
              formControlName="confirmpassword"
            />
            <mat-error>password Wrong</mat-error>
          </mat-form-field>
        </p>
      </div>
      <div class="last-row">
        <div class="example-section show">
          <mat-checkbox
            class="example-margin"
            color="primary"
            (change)="togglePasswordVisibility()"
            >Show Password</mat-checkbox
          >
        </div>
        <div class="signin">
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
