.last-row{
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

.text-icon{
  font-family: serif;
  font-size: 35px;
}
.sub-heading{
  font-weight: 300;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom:5px;
}
.main {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    width: 300px;
    height: fit-content;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;
}
.Email,
.Password,
.show {
    width: 100%;
}

.pass {
    width: 100%
}

.signin {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 40%;
    height: 50%;
}
